// Settings
@capsule-background: #FFF;
@capsule-width: 320px;
@capsule-radius: 3px;
@capsule-border-color: #CCC;
@capsule-border: 1px solid @capsule-border-color;
@capsule-padding: 2px 6px;

@panel-offset: 13px;

// Mixins

.box-shadow(@xoff:1px, @yoff:2px, @blur:2px, @spread:0, @color:#666) {
  -moz-box-shadow:    @xoff @yoff @blur @spread @color;
  -webkit-box-shadow: @xoff @yoff @blur @spread @color;
  box-shadow:         @xoff @yoff @blur @spread @color;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.capsule {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 11px;
    border: @capsule-border;
    background: @capsule-background;
    .border-radius(@capsule-radius);
    .box-shadow;
}

// index element
.awld {
    
    // structural styles
    
    .panel {
        .capsule;
        display: none;
        position: absolute;
        margin: @panel-offset 0 0 -1px;
        border-top: 0;
        width: @capsule-width;
    }
    
    .index {
        .capsule;
        position: relative;
        display: inline-block;
    }
    
    .module {
        padding: @capsule-padding;
        display: none;
        
        &:last-child {
            padding-bottom: .8em;
        }
    }
    
    .tab {
        padding: @capsule-padding;
        background: @capsule-background;
    }
    
    // this is a bit of a hack to get the top border visible
    
    hr {
        display: none;
        margin: (@panel-offset + 1) 0 0 0;
        width: @capsule-width;
        position: absolute;
        border: 0;
        border-top: @capsule-border;
        .box-shadow;
    }
    
    // text styles
    
    a, .refs {
        color: #900;
        cursor: pointer;
        
        &:hover {
            color: #D00;
        }
    }
    
    h2 {
        font-size: 1em;
        margin: .5em 0 0 0;
    }
    
    p {
        margin: 0.3em 0;
    }
}

// Popover styles adapted from Twitter Bootstrap v2.0.3
// https://github.com/twitter/bootstrap
// Copyright 2012 Twitter, Inc
// Licensed under the Apache License v2.0
// http://www.apache.org/licenses/LICENSE-2.0
// Designed and built with all the love in the world @twitter by @mdo and @fat.
#popoverArrow {
  .top(@arrowWidth: 5px, @color: @capsule-border-color) {
    bottom: 0;
    left: 50%;
    margin-left: -@arrowWidth;
    border-left: @arrowWidth solid transparent;
    border-right: @arrowWidth solid transparent;
    border-top: @arrowWidth solid @color;
  }
  .left(@arrowWidth: 5px, @color: @capsule-border-color) {
    top: 50%;
    right: 0;
    margin-top: -@arrowWidth;
    border-top: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid transparent;
    border-left: @arrowWidth solid @color;
  }
  .bottom(@arrowWidth: 5px, @color: @capsule-border-color) {
    top: 0;
    left: 50%;
    margin-left: -@arrowWidth;
    border-left: @arrowWidth solid transparent;
    border-right: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid @color;
  }
  .right(@arrowWidth: 5px, @color: @capsule-border-color) {
    top: 50%;
    left: 0;
    margin-top: -@arrowWidth;
    border-top: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid transparent;
    border-right: @arrowWidth solid @color;
  }
}

.awld-pop {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 5px;
  &.top    { margin-top:  -5px; }
  &.right  { margin-left:  5px; }
  &.bottom { margin-top:   5px; }
  &.left   { margin-left: -5px; }
  &.top .arrow    { #popoverArrow > .top(); }
  &.right .arrow  { #popoverArrow > .right(); }
  &.bottom .arrow { #popoverArrow > .bottom(); }
  &.left .arrow   { #popoverArrow > .left();  }
  .arrow {
    .box-shadow;
    position: absolute;
    width: 0;
    height: 0;
  }
}
.awld-pop-content {
  width: 320px;
  height: 120px;
  overflow: hidden;
  .capsule;
  padding: 2px 6px;
}
/*
.awld-pop-content {
  padding: 14px;
  background-color: @white;
  .border-radius(0 0 3px 3px);
  .background-clip(padding-box);
  p, ul, ol {
    margin-bottom: 0;
  }
}*/